<!DOCTYPE html>
<html lang="ja">
  <head>
  <style type="text/css">
  <!--
  .section{
    color:blue;
  }
  -->
  </style>
  <meta charset="utf-8">
   <title><%= @title %></title>
</head>
<body>
    <%= yield %>
</body>
</html>