<h2>投票</h2>
<form action="http://localhost:4567/result" method="post">
      <p>
        email：<input type="text" name="data[Member][email]" size="40">
      </p>
      <p>
        パスワード：<input type="text" name="data[Member][password]" size="40">
      </p>
      <p>
        <input type="submit" value="送信"><input type="reset" value="リセット">
      </p>
</form>